= render partial: 'header' 
.article
  = form_for @article do |a|
    = a.text_field :title
    = a.text_field :subtitle
    = a.text_area :content
    = a.submit "更 新",class:"edit-btn"
  -if user_signed_in?
    = link_to '削除',article_path(@article.id), method: :delete,class:"delete"
= render partial: 'footer'