= render partial: 'header'
.contents
  .contents__top
    .contents__top-popularity
      %h2 人気記事！
      %ul
        %li
        %li
    .contents__top-recommend
      %h2 おすすめ記事！
      %ul
        %li
        %li
  .contents__side
    .contents__side-profile
      %img
    .contents__side-input
      %input
  .contents__main
    - @article.first(3).each do |article|
      .contents__main-article
        = icon("fas", "newspaper")
        .contents__main-article-title
          = article.title
        .contents__main-article-subtitle
          = article.subtitle
    =paginate(@articles)
= render partial: 'footer'