= render partial: 'header' 
.article
  .article__show-title
    = @article.title
  .article__show-subtitle
    = @article.subtitle
  .article__show-create
    = @article.created_at.strftime("%Y年%m月%d日 %H:%M")
  .article__show-content
    = @article.content
  -if user_signed_in?
    = link_to '編集',edit_article_path(@article.id)
    = link_to '削除',article_path(@article.id), method: :delete
= render partial: 'footer'