- if user_signed_in?
  .portfolio__edit
    = form_for(@portfolio) do |f|
      %p
        Illustrator
        = f.number_field :Illustrator
        %br
        HTML
        = f.number_field :HTML
        %br
        CSS
        = f.number_field :CSS
        %br
        Ruby
        = f.number_field :Ruby
        %br
        Ruby_on_Rails
        = f.number_field :Ruby_on_Rails
        %br
        JavaScript
        = f.number_field :JavaScript
        %br
        React
        = f.number_field :React
        %br
        PHP
        = f.number_field :PHP
        %br
        Laravel
        = f.number_field :Laravel
        %br
        flutter
        = f.number_field :flutter
        %br
        Go
        = f.number_field :Go
        %br
        MySQL
        = f.number_field :MySQL
        %br
        AWS
        = f.number_field :AWS
      = f.submit