- =begin
- if user_signed_in?
  .new
    = form_for @portfolio do |f|
      %p
        illustrator
        \#{f.number_field :illustrator}
        = succeed "photoshop" do
          %br/
        = f.number_field :photoshop
        = succeed "light_o_rama" do
          %br/
        = f.number_field :light_o_rama
        = succeed "html" do
          %br/
        = f.number_field :html
        = succeed "css" do
          %br/
        = f.number_field :css
        = succeed "ruby" do
          %br/
        = f.number_field :ruby
        = succeed "ruby_on_rails" do
          %br/
        = f.number_field :ruby_on_rails
        = succeed "javascript" do
          %br/
        = f.number_field :javascript
        = succeed "php" do
          %br/
        = f.number_field :php
        = succeed "java" do
          %br/
        = f.number_field :java
      = f.submit
- =end
