.html
  .header__portfolio
    = link_to "YusukePortfolio", portfolios_path, class:"header__portfolio--title"
  .navigation
    %ul
      %li
        %a{:href => "#profile"} プロフィール
      %li
        %a{:href => "#production"} 製作物
      %li
        %a{:href => "#skill"} スキル
  .reason
    %p
      たった一つの動画が約2万再生を記録した
      %br 
      パソコン一つで色んな人の感動を生んだ
      %br 
      パソコンで何かを作る人になりたいと強く思うようになった
      %br 
      WEBページを教えてもらった時
      %br 
      世界が変わるような衝撃を受けた
      %br
      そこから僕はエンジニアを目指すきっかけとなった
    %video{:autoplay => "", :loop => "", :muted => "", :src => "/video/LuRjPEcQ8sJjImDw1.mp4"}
  #profile.profile
    .profile__bar
      %h1 プロフィール
    %img.profile__image{:src => "image/1583241690590.jpeg"}/
    %h2 浦 佑輔
    %h3 徳島出身 1993年生まれ
    .profile__impression
      %h4
        周りから言われた印象
      %p.profile__impression--list
        責任感が強い
        %wbr 積極的な行動力
        %br ムードメーカー 挑戦意欲
        %wbr 優しさの鬼 笑顔が素敵
        %br なんちゃって徳島 愛されっ子
        %wbr 気遣いが出来る
    .profile__career
      %h1 ■ 経 歴
      %p
        %br 奈良大学社会学部心理学科 卒業 ➡︎
        %wbr 徳島のイベント会社へ入社 ➡︎ あすたむらんど徳島 イベント企画担当 
        %br ➡︎【イベント会社退社後】 TECH CAMP 短期集中コース 76期生として入学 ➡︎
        %wbr アジャイル開発のスクラムマスター担当
        %br ➡︎【2020年6月26日】 TECH CAMP 短期集中コース 卒業
    .profile__hobby
      %h1 ■ 趣 味
      %p
        サッカー観戦（好きなチーム：マンチェスター・ユナイテッドFC）
        %br 音楽鑑賞（好きなアーティスト：BUMP OF CHICKEN back number）
        %wbr ゲーム／アコースティックギター／ドライブ／スノーボード／漫画／読書
  #production.production
    .production__bar
      %h1 製作物
    .production__list
      %ul
        %li
          %h2 bookshelf
          = image_tag "/image/bookshelf.png"
          %p
            %br 本の登録サイト
            %br PHP/Laravelを独学で勉強
            %br PHP/Laravelでの初開発
            %br 【作成理由】
            %br ・学習した事を活かすため
            %br ・基本操作・記述を練習するため
          = link_to "GitHub","https://github.com/urayusuke/bookshelf",class:"production__list-link7"
          = link_to "bookshelf","http://bookshelf20.herokuapp.com/",class:"production__list-link8"
        %li
          %h2 blue_blog
          = image_tag "/image/blue_blog1.jpg"
          %p
            %br 自分専用のブログサイト
            %br 仮完成の状態で今後、改善していきます
            %br 【作成理由】
            %br ・Ruby on Railsの基礎を復習するため
            %br ・新しい技術を取得した時に、
            %br アウトプットするため
          = link_to "GitHub","https://github.com/urayusuke/blue_blog",class:"production__list-link"
          = link_to "blue_blog","http://54.248.170.87/",class:"production__list-link1"
        %li
          %h2 Tic
          = image_tag "/image/Tic1.jpg"
          %p
            %br 観光写真投稿型のWEBアプリケーション
            %br 初めての個人アプリ【約2週間で作成】
            %br 【作成理由】
            %br ・JavaScriptの理解度を上げるため
            %br ・画像を使用して動きのある
            %br WEBアプリケーションを作成するため
          = link_to "GitHub","https://github.com/urayusuke/Tic",class:"production__list-link2"
          = link_to "Tic","https://tic20.herokuapp.com/",class:"production__list-link3"
      %ul
        %li
          %h2 FURIMA
          = image_tag "/image/furima_top1.jpg"
          %p
            %br【TECH CAMP】
            %br FURIMAサイト
            %br 初めてのチーム開発で作成
            %br 【ID/Pass】
            %br ID: admin
            %br Pass: 7676b
          = link_to "GitHub","https://github.com/urayusuke/fleamarket_sample_76b",class:"production__list-link4"
          = link_to "FURIMA","http://54.95.199.71/",class:"production__list-link5"
        %li
          %h2 ChatSpace
          = image_tag "/image/chatspace1.png"
          %p
            %br【TECH CAMP】
            %br チャット式のWEBアプリケーション
            %br カリキュラムの課題
          = link_to "GitHub", "https://github.com/urayusuke/chat-space",class:"production__list-link6"
        %li
          %h2 3年目 SINGINGTREE
          %video{:autoplay => "", :loop => "", :muted => "", :src => "/video/80300093_159903481904428_5129609011752913656_n1.mp4"}
          %p
            %br【あすたむらんど徳島】勤務3年目の作品
            %br 初のRGB化を達成
  #skill.skill
    .skill__bar
      %h1 スキル
    .time
      2020年 9月 30日 更 新
    //- @portfolios.each do |portfolio|
    //  = portfolio.updated_at.strftime("%Y年 %m月 %d日 更 新") 
    :javascript
      //var data = portfolio.Illustrator
      //var data1 = portfolio.HTML
      //var data2 = portfolio.CSS 
      //var data3 = portfolio.html 
      //var data4 = portfolio.Ruby
      //var data5 = portfolio.Ruby_on_Rails
      //var data6 = portfolio.JavaScript
      //var data7 = portfolio.PHP
      //var data8 = portfolio.Laravel
      //var data9 = portfolio.Java
      //var data10 = portfolio.MySQL
      //var data11 = portfolio.AWS
      //var data12 = portfolio.flutter
      //var data13 = portfolio.React
    %canvas#myChart
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"}
    :javascript
      var ctx = document.getElementById('myChart').getContext('2d');
              var chart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ["Illustrator", "HTML", "CSS", "Ruby", "Ruby on Rails", "JavaScript","React","PHP","Laravel","flutter","Java","MySQL","AWS"],
                datasets: [{
                    label: "学習時間",
                    data: [600, 650, 650, 610, 610, 510, 4, 344, 212, 12, 30, 640, 200],
                    backgroundColor: 'royalblue',
                    borderColor: 'royalblue',
                  }]
                },
              options:{
              legend: {
                labels: {
                  fontColor: 'white',
                  fontSize:20
                }
              },
              layout: {
                padding:{
                        left:45,
                        right:45,
                        top:50,
                        bottom:70
                      }
              },
              scales: {
                yAxes: [{
                  gridLines: {
                      color: "white", // 補助線の色
                      zeroLineColor: "white",
                      lineWidth: 0.6,
                  },
                  ticks: {
                    suggestedMax: 1000,
                    suggestedMin: 0,
                    fontColor: 'white',
                    fontSize: 15,
                    padding: 10,
                    callback: function(value, index, values){
                      return  value +  ' 時間'
                    }
                  },
                }],
                xAxes: [{
                  ticks: {
                    fontColor: 'white',
                    fontSize: 14
                  }
                }]
              }
            }
              });
  .footer__protfolio
    = link_to "YusukePortfolio", portfolios_path, class:"footer__protfolio--title"
